<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Добавление Адреса</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<div th:insert="blocks/header"></div>
<form th:action="${'/address/add'}" method="post">
    <input type="text" name="city" placeholder="Введите город">
    <input type="text" name="street" placeholder="Введите улицу">
    <input type="text" name="building" placeholder="Введите домик">
    <br>
    <button type="submit">Добавить</button>
</form>
</body>
</html>