<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Добавление Книжечки</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <link rel="stylesheet" href="/css/edit.css">
</head>
<body>
<div th:insert="blocks/header"></div>
<form th:action="${'/book/add'}" method="post">
  <ul class="form-style-1">
    <label>Название <span class="required">*</span></label>
    <input class="field-long" type="text" name="title" placeholder="Введите название">

    <label>Автор <span class="required"></span></label>
    <select class="field-long" name="author">
      <div th:each="element : ${authors}">
        <option th:text="${element.surname}"></option>
      </div>
    </select>

    <label>Жанр <span class="required"></span></label>
    <select class="field-long"  name="genre">
      <div th:each="element : ${genres}">
        <option th:text="${element.title}"></option>
      </div>
    </select>

    <label>Статус <span class="required"></span></label>
    <select class="field-long"  name="status">
      <div th:each="element : ${statuses}">
        <option th:text="${element.title}"></option>
      </div>
    </select>

    <label>Язык <span class="required"></span></label>
    <select class="field-long" name="language">
      <div th:each="element : ${languages}">
        <option th:text="${element.title}"></option>
      </div>
    </select>

    <label>Категория <span class="required"></span></label>
    <select class="field-long" name="category">
      <div th:each="element : ${categories}">
        <option th:text="${element.title}"></option>
      </div>
    </select>

    <label>Адрес <span class="required"></span></label>
    <select class="field-long" name="address">
      <div th:each="element : ${addresses}">
        <option th:text="${element.street}"></option>
      </div>
    </select>

    <label>Отзыв <span class="required"></span></label>
    <select class="field-long" name="review">
      <div th:each="element : ${reviews}">
        <option th:text="${element.title}"></option>
      </div>
    </select>

    <div style="margin: 15px">
      <button class="field-long btn btn-del" type="submit">Добавить</button>
    </div>
  </ul>
</form>
</body>
</html>